body {
	background-image: url(viona rahmawati.jpeg);
}

h1, h2 {
	font-size: 20px;
	text-align: center;
}

.pembungkus {
	width: 50%;
	margin: auto;
	color: white;
}

img {
	width: 200px;
	border-radius: 30%;
	border: 5px solid white;
	margin-left: 200px;

}

.tombol {
	width: 58%;
	margin:  10px auto;
}

button {
	margin: 5px;
	border: none;
	padding: 10px;
	border-radius: 10px;
	background-color: gray;
	color: #fff;
	cursor: pointer;
}
